{% extends "notebook/layout.html" %}
<head>
    <title> Log In </title>
</head>
<body>
    {% block body %}

    <div class="login" style="height: 70%; width:50%; justify-content: center; background-color: #DFDDD8; display: flex;">
    
        <form style="display: flex;">
            <div class="row"><input name="username" placeholder="username"></div>
            <div class="row"><input name="password" placeholder="password"></div>
            <div class="row"><input class="btn" name="submit" type="submit"></div>
        </form>
    

    </div>

    {% endblock %}
</body>